<h1>Signup Page</h1>

<form action="/signup" method="post">
  <label>Username:
    <input type="text" name="username" required />
  </label>
  <label>Age:
    <input type="number" name="age" required />
  </label>
  <label>Email:
    <input type="email" name="email" required />
  </label>
  <label>Password:
    <input type="password" name="password" required />
  </label>
  <button type="submit">Signup</button>
</form>