

<form action="/signup" method="post" class="form">
  <h3>Signup Page</h3>

    <input type="text" class="form-control" name="username" required placeholder="your username"/>
 
    <input type="email" class="form-control"  name="email" required  placeholder="your email"/>

 
    <input type="password" class="form-control"  name="password" required placeholder="your password" />

  <button type="submit">Signup</button>
  <h4 class="signup-text">Are you already signed up? Go to <a href="/login">log in</a></h4>


</form>