<h3>
    Make a new Branch
</h3>

<form action="/branch" method="post" class="form">
    <% if(typeof errorMessage !='undefined') { %>
        
    <span class="alert alert-danger">
        <%- errorMessage %>
       </span>
     <% } %>  

      <input type="text" class="form-control" name="name" required  placeholder="name"/>


    <button type="submit">Create</button>
  </form>
