<form action="/car" method="post" enctype="multipart/form-data" class="form">
  <h3>Add new Car</h3>

    <input type="text" class="form-control" name="brand" required placeholder="brand"/>
 
    <input type="text" class="form-control" name="model" required placeholder="model"/>

    <input type="text" class="form-control" name="class" required placeholder="class"/>
    <input type="text" class="form-control" name="gearbox" required placeholder="gearbox"/>
    <input type="text" class="form-control" name="fuel" required placeholder="fuel"/>
    <input type="text" class="form-control" name="doors" required placeholder="doors"/>
    <input type="text" class="form-control" name="pax" required placeholder="seats"/>
    <input type="text" class="form-control" name="luggage" required placeholder="luggage"/>
    <input type="text" class="form-control" name="ppd" required placeholder="price per day"/>
    
     
    <input type="file" name="img" id="">

  <button type="submit">Create</button>
</form>