

<div class="homepage">


   <img src="https://pngimg.com/uploads/tesla_car/tesla_car_PNG46.png" alt="tesla" >
   <p class="slogan">Drive the Future: Your Key to Freedom and Style!</p>
   <!-- <p class="slogan">Unleash Your Drive, Embrace the Modern Ride!</p>
   <p class="slogan">Drive the Future, Your Way!</p>   
   <p class="slogan">Unleash Your Drive, Embrace the Future!</p> -->
   
<div class="buttons">
    <% if (typeof userid!='undefined') { %>
        <a href="/cars">Get started</a>        
    <% }else{ %>
        <a href="/signup">Get started</a>
    <% } %>    
    
</div>

</div>






