@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@300;400;700&display=swap');

/* 
font-family: 'Roboto', sans-serif; 
font-family: 'Kaushan Script', cursive;
*/

body {
  padding: 50px;
  background-color: rgb(218, 165, 32);
  background-image: url('https://cutewallpaper.org/21/best-car-wallpapers-hd/Super-Car-Wallpapers-HD-Background-Images-Wallpaper-Cart.jpg');
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  box-shadow: inset 0 0 0 1000px rgba(218, 165, 32,.5);
  height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  color: 15px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.homepage{
  width: 600px;
  margin:0 auto;
  height: 100%;
  background-color: rgb(47, 46, 45);
  border-radius: 50px;
  padding: 4rem 0.2rem;
  box-shadow: 1px 1px rgba(0, 0,0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;

}
.homepage img{

  max-width: 80%;
  margin: 0 auto;
}
.homepage h3{

  font-size: 2rem;
  color:goldenrod;
}
.homepage h4{
  color: aliceblue;
}
.container{
  width:100%;
  margin: 0 auto;
  text-align: center;
}
.buttons{
  margin: 0 auto;
  display: flex;
  gap:2rem;
}
.buttons a{
  background-color: goldenrod;
  color: aliceblue;
  padding: 1rem 2rem;
  border-radius: 4px;
  cursor: pointer;
}
.buttons a:hover{
  background-color: rgb(182, 138, 27);
}
.brand{
  text-shadow: 1px 1px rgba(0, 0,0, 0.3);
  color: rgba(142, 104, 9, 0.6);
  font-size: 4rem;
}


.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin:0 auto;
  height: 100%;
  background-color: rgb(47, 46, 45);
  border-radius: 50px;
  padding: 4rem;
  box-shadow: 1px 1px rgba(0, 0,0, 0.3);
  gap: 2rem;
}
.form h3{

  font-size: 2rem;
  color:goldenrod;
}

.form button{
  background-color: goldenrod;
  font-weight: 700;
  color: aliceblue;
  padding: 1rem 2rem;
  border-radius: 4px;
  cursor: pointer;
}
.navbar{
  text-align: center;
  padding: 0.4rem;
  border-bottom: 1px solid rgba(0, 0,0, 0.2);
  margin: 0 auto 2rem auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu{
list-style: none;
display: flex;
gap: 2rem;
justify-content: center;
align-items: center;
}
.navbar ul li a{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-shadow: 1px 1px rgba(0, 0,0, 0.3);
}
.navbar ul li a:hover{
  color: rgb(208, 211, 214);
}

.logo-container {
  display: flex;
  width: 150px;
  align-items: center;
}

.logo-container img {
  width: 130px;
}

.profile-icon-container {
  display: flex;
  justify-content: flex-end;
  width: 130px;
}

#menu-button {
  display: none;
}

.icons-desktop {
  width: 50px;
}

.slogan {
  font-size: 1.3rem;
  font-family: 'Kaushan Script', cursive;
  color: aliceblue;
}




.carousel{
  background-color: rgb(47, 46, 45);
  border-radius: 50px;
  padding: 4rem;
  box-shadow: 1px 1px rgba(0, 0,0, 0.3);
}


.carousel-caption {
left: 50%;
top: 20%;
padding: 1rem;

}
.carousel-caption h3{
  margin-bottom: 1rem;
}
.carousel-caption a{
  background-color: goldenrod;
  color: aliceblue;
  padding: 1rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  display: block;

}

.details{
  width:800px;
  margin: 0 auto;
  display: flex;
  gap: 4rem;
  background-color: rgb(47, 46, 45);
  border-radius: 50px;
  padding: 4rem;
  box-shadow: 1px 1px rgba(0, 0,0, 0.3);
  flex-wrap: wrap;
}
.info{
  color: white;
  font-size: 1.2rem;
}
.info ul{
  list-style: none;
  text-align: left;
  padding-top: 2rem;
}
.info ul li{
  margin-top: 1rem;
}

.form-detail {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.form-detail button{
  background-color: goldenrod;
  color: aliceblue;
  padding: 1rem 2rem;
  border-radius: 4px;
  cursor: pointer;
 
  display: block;
}
.signup-text {
  color: aliceblue;
}
.signup-text a {
  color: #888;
}
.signup-text a:hover {
  color: goldenrod;
}


.title{
  font-size: 2rem;
  color: rgba(142, 104, 9, 0.6);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.booking{
  list-style: none;
  color: aliceblue;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  
}

.booking:hover {
  background-color: rgba(0, 0, 0, 0.5);  
}

.button{
  background-color: goldenrod;
  color: aliceblue;
  padding: 1rem 2rem;
  border-radius: 4px;
  cursor: pointer;
}
.booking-page{
  margin:0 auto;
  height: 100%;
  background-color: rgb(47, 46, 45);
  border-radius: 50px;
  padding: 4rem 0.2rem;
  box-shadow: 1px 1px rgba(0, 0,0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.booking-page h3{
  font-size: 2rem;
  color:goldenrod;
}
.booking-container {
  display: flex;
  justify-content: space-around;
  gap: 1.2rem;
  padding: 1rem;
}

.booking-buttons {
  margin: 1rem ;
  
}

.booking-body {
  padding: 1rem;
}

.booking-text {
  padding-bottom: 2rem;
  line-height: 1rem;
  margin: 0;
}
.booking-details{
  width: 600px;
  margin:0 auto;
  height: 100%;
  background-color: rgb(47, 46, 45);
  border-radius: 50px;
  padding: 4rem 0.2rem;
  box-shadow: 1px 1px rgba(0, 0,0, 0.3);
  text-align: center;
  color: aliceblue;
}
.booking-details img{
  background-size: cover;
  width: 70%;
}
.mobile-layout{
display: none;
}
.menu-mobile{
  display: none;
}
@media screen and (max-width: 800px) {
  .homepage, .form{
    width: 100%;
  }
  .buttons{
    margin: 0 auto;
    display: flex;
    gap:2rem;
    flex-direction: column;
  }
  .navbar {
    position: relative;
  }
  .menu{
    display: none;
  }
  .menu-mobile{
    right: 0%;
    top: 60%;
    flex-direction: column;
    background-color: goldenrod;
    position: absolute;
    padding: 2rem;
    border-radius: 20px;
    border: 1px solid black;
    z-index: 900;
  }
  .logo-container {
    display: flex;
    width: 100px;
    align-items: center;
  }
  
  .logo-container img {
    width: 100px;
  }
  
  .profile-icon-container {
    display: flex;
    width: 40px;
  }
  .profile-icon-container img {
    width: 40px;
  }
  #menu-button {
    display: block;
  }

  .details{
    width: 100%;
    flex-direction: column;
    padding: 0.5rem;
  }
  .form-detail {
    flex-direction: column;
    width: 100%;
  }
  .picture img{
    width: 100%;
    background-size: cover;
  }
  .booking-container {
    flex-direction: column;
    align-items: center;
  }
  .booking {
    width: 100%;
  }

  .booking-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .booking-details{
  width: 100%;
  }

  .carousel{
    display: none;
  }
  .mobile-layout{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    }
    
.box
{
  background-color: rgb(47, 46, 45);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 30px;
}
.box img{
  width: 100%;
  background-size: cover;
  margin-top: -25px;
  padding-bottom: 1rem;
}

.box a{
  position: absolute;
  background-color: goldenrod;
  padding: 1rem 2.5rem;
  color: rgb(249, 240, 240);
  border: none;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  right: 0;
  bottom: 0;
  font-size: 1rem;
}
.box a:hover{
  background-color: rgb(174, 131, 22);
}
.box h4{
  padding-left: 1.5rem;
  padding-bottom: 0.4rem;
  font-size: 1.2rem;
  color: aliceblue;
  position: absolute;
  bottom: 0;
  left: 0;

}
.box h3{
padding-bottom: 2rem;
  color:  rgb(174, 131, 22);
}

.profile-icon-container{
  display: none;
}
}